@model IEnumerable<LinqBuild.Models.Student>

@{
    ViewData["Title"] = "Students and Their Teachers";
}

<h2>Students and Their Teachers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Teachers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>
                    @foreach (var course in student.StudentCourses)
                    {
                        foreach (var teacher in course.Course.TeacherCourses)
                        {
                            @teacher.Teacher.Name

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Operations">Back to Courses</a>
